:root {
    --input-field-min-width: 100%;
    --tabs-field-width: 100%;
    --container-width: 1020px;

    --main-font: 'Lato', sans-serif;
    --second-font: 'Montserrat', sans-serif;
    --defoult-font: 'Roboto', sans-serif;

    --main-bg-color: rgba(18, 79, 230, 1);
    --main-font-color: rgba(102, 102, 102, 1);
    --main-helping-form-color: rgba(134, 134, 134, 1);
    --main-items-bg-color: rgba(84, 128, 237, 1);
    --secondary-font-color: rgba(255, 255, 255, 1);
    --button-bg: rgba(82, 128, 237, 1)
  
   
  }