.wrapper {
  width: 350px;
  height: 180px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
}
img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: -80px;
  z-index: 1;
}
p {
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #666666;
}
:host::ng-deep {
  mb-action-button {
    button {
      width: 138px;
      padding: 14px 5px;
      font-size: 18px;
      line-height: 21px;
      color: #ffffff;
    }
  }
  .back-btn {
    button {
      background: #ffffff;
      color: #5480ed;
    }
  }
  .send-btn {
    button {
      margin-left: 24px;
    }
  }
}
:host::ng-deep app-modal {
  width: 350px;
  height: 180px;
}

::ng-deep {
  mat-dialog-container {
    position: relative;
  }

  .cdk-overlay-dark-backdrop {
    background: rgba(1, 29, 98, 0.62);
    filter: blur(4px);
  }
}
